* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
/*header com a logo e o menu*/
header {
  display: flex;
  width: 90%;
  line-height: 60px;
  height: 60px;
  margin: auto;
  justify-content: space-between;
}
/*logo devchallenge topo*/
.logo {
  padding-top: 10px;
  font-size: 1.2em;
}
.logo a {
  color: #d2872c;
  text-decoration: none;
  transition: all 0.15s linear;
}
.logo a:hover {
  font-size: 105%;
}
/*menu lateral*/
.menu {
  font-size: 1.4em;
  color: #766f68;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: #766f68;
  transition: all 0.13s linear;
}
.menu a:hover {
  font-size: 115%;
}
.menu-item {
  margin: 10px;
}
/*imagem e textos*/
.main-container {
  display: flex;
  justify-content: space-evenly;
}
.main {
  display: flex;
  flex: 1;
  margin: auto;
  width: 90%;
}
.img {
  padding-left: 28%;
  padding-top: 5.2%;
  float: right;
  position: absolute;
}
.img img {
  width: 860px;
}
/*texto 1 texto 2 e bot達o*/
.textos {
  position: absolute;
  width: 40%;
  margin: 50px 0 0 50px;
}
.textos a {
  text-decoration: none;
  color: #ffffff;
}
  /*Titulo*/
.texto1 {
  margin-bottom: 30px;
  width: 100%;
  font-size: 3em;
  color: #766f68;
}
/*Sub titulo*/
.texto2 {
  margin-bottom: 30px;
  width: 80%;
  font-size: 1.8em;
  color: #766f68;
}
  /*bot達o*/
.button {
  display: inline-block;
  color: #ffffff;
  font-size: 1.2em;
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 20px 0px;
  background: #d2872c;
  border-radius: 10px;
  transition: all 0.1s linear;
}
.button:hover {
  background: #b37326;
}

@media (max-width: 800px) {
  /*logo devchallenge topo*/
  .logo {
    padding-top: 0px;
    font-size: 70%;
  }
  /*menu lateral*/
  .mobile-menu{
    
  }
  .menu {
  font-size: 1.1em;
  
  }
  .menu-item {
  text-align: center;
  margin: 0;
  line-height: 25px;
  padding: 10px;
  background-color: rgb(228, 228, 228);
  }
  .menu ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
    top: 8%;
    float: none;
  }
  .item-1{
    border-radius: 15px 0 0;
  }
  .item-3{
    border-radius: 0 0 15px;
  }
  /*container com imagem e textos*/
  .main-container {
    display: initial;
    text-align: center;
    margin: auto;
    justify-content: initial;
  }
  .img {
    text-align: center;
    padding-top: 0;
    float: none;
    position: static;
    padding-left: 0;
  }
  .img img {
    width: 85%;
  }
  .main {
    display: flex;
    margin: auto;
    flex: 1;
    width: 100%;
    position: initial;
  }
  /*container com o texto1,texto2 e bot達o*/
  .textos {
    margin: auto;
    position: initial;
    text-align: center;
    font-size: 50%;
    width: 320px;
  }
  /*Titulo*/
  .texto1 {
    margin-bottom: 20px;
  }
  .texto1 h2 {
    margin: auto;
    text-align: center;
  }
  /*Sub titulo*/
  .texto2 {
    margin: 0 auto;
  }
  .texto2 p {
    font-size: 110%;
  }
  /*bot達o*/
  .button {
    margin-top: 40px;
    display: inline-block;
    font-size: 3em;
    width: 200px;
    height: 50px;
    border-radius: 12px;
  }
  .button:hover {
    background: #b37326;
  }
}
